/**
* @name Cherax Discord Theme
* @version 1.0
* @description Cherax (Chair Hax) Theme 
* @author AsylantenCeo#0001
* @invite Cheraxmod
* @Source Cherax.vip
* @website Cherax.vip
*/
@import url("https://clearvision.gitlab.io/v6/main.css");
@import url('https://fonts.googleapis.com/css2?family=Babarius');
:root {
--main-color: #B217FFFF;
--hover-color: #B217FFFF;
--success-color: #B217FFFF;
--danger-color: #B217FFFF;
--url-color: #2981FFFF;
--online-color: #43b581;
--idle-color: #faa61a;
--dnd-color: #982929;
--streamig-color: #593695;
--offline-color: #808080;
--main-font: 'Babarius';
--code-font: 'nigga';
--text-normal: #dcdddeff;
--text-muted: #72767dff;
--channels-width: 220px;
--members-width: 240px;
--background-shading: 0%;
--background-overlay: #00000099;
--background-image: url('https://i.imgur.com/hPS2ucV.jpg');
--background-size: contain;
--background-position: center;
--background-repeat: no-repeat;
--background-attachment: fixed;
--background-brightness: 100%;
--background-constrast: 100%;
--background-saturation: 100%;
--background-invert: 0%;
--background-grayscale: 0%;
--background-sepia: 0%;
--background-blur: 0px;
--home-icon: url('https://clearvision.gitlab.io/icons/discord.svg');
--home-position: center;
--home-size: 40px;
--background-overlay: #00000099;
--backdrop-image: url('https://i.imgur.com/oofYtvv.jpg');
--backdrop-image: center;
--backdrop-size: cover;
--backdrop-repeat: repeat;
--backdrop-attachment: fixed;
--backdrop-brightness: 100%;
--backdrop-constrast: 100%;
--backdrop-saturation: 100%;
--backdrop-invert: 0%;
--backdrop-grayscale: 0%;
--backdrop-sepia: 0%;
--backdrop-blur: 0px;
--user-popout-image: url('https://i.imgur.com/fUJgvAf.jpg');
--user-popout-image: center;
--user-popout-size: cover;
--user-popout-repeat: repeat;
--user-popout-attachment: fixed;
--user-popout-brightness: 100%;
--user-popout-constrast: 100%;
--user-popout-saturation: 100%;
--user-popout-invert: 0%;
--user-popout-grayscale: 0%;
--user-popout-sepia: 0%;
--user-popout-blur: 0px;
--user-popout-overlay: #000000a6;
--user-modal-image: url('https://i.imgur.com/jDXT5R3.jpg');
--user-modal-image: center;
--user-modal-size: cover;
--user-modal-repeat: repeat;
--user-modal-attachment: fixed;
--user-modal-brightness: 100%;
--user-modal-constrast: 100%;
--user-modal-saturation: 100%;
--user-modal-invert: 0%;
--user-modal-grayscale: 0%;
--user-modal-sepia: 0%;
--user-modal-blur: 0px;
--bd-blue: #B217FFFF;
--bd-blue-hover: #1e63b3;
--bd-blue-active: #1e63b3;
}